
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root{
    --background-color:#202124;
    --background-color-2:#292A2D;
    --color: #ffffff;
    --divider-color:rgba(255, 255, 255, 0.12);
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --background-color:#f8f9fb;
    --background-color-2:#f6f6f6;
    --color: #000000;
    --divider-color:#c7c7c7;
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &.minor{
    color:#adadad ;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color)
}

code{
  display: block;
  white-space:pre;
  background-color: var(--background-color-2);
  padding:1em;
  border-radius: 6px;
  overflow: auto;
}





/* overwrite */

.MuiDialog-container{
  backdrop-filter: blur(6px);
}
.reflex-splitter{
  background-color: var(--background-color-2) !important;
  border-color:var(--divider-color) !important
}